@use '../utils/variables' as variables;
@use '../utils/mixins' as mixins;

header{
	background-color:variables.$headerandfooter;
	padding: 25px 30px 30px 25px;
	position: fixed; /*no admite el height*/
  top:0;
  left:0;
  display: flex; /*poner los elementos alineados al lado*/
	align-items: center;
	box-sizing: border-box;
	gap: 20px;
	width: 100%;
	z-index: 999;
  font-size: 20px;
  letter-spacing: 1px;
}

body{
  background-color: variables.$yellow-fondo;
  display: flex;
	justify-content: center;
	flex-direction: column;
  font-family: variables.$font-primary; 
  
}
main{
  display: flex;
	justify-content: center;
	flex-direction: column; 
  align-items: center;     // Centrado horizontal
  min-height: 100vh;       // Ocupa toda la altura de la pantalla
  gap: 20px;               // Espacio entre los elementos internos
  text-align: center;      // Para centrar el texto de los elementos hijos
   padding: 20px; 
  
  margin-top: 80px;


}
footer{

  background-color: variables.$headerandfooter;
  color: white;
  text-align: center;
  padding: 15px 20px;
  display: grid;

 
}

.pokemonName{
    text-transform: uppercase;
}