@use '../utils/variables' as variables;
@use '../utils/mixins' as mixins;

.pokemonCard{
  margin-top: 100px;
  @include mixins.pokemon-card-style;
 
}
.detalleBtn {
  background-color: variables.$botones;
  padding: 8px 20px;
  border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: right;

}