@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


$yellow-fondo: #f0d478;
$headerandfooter: #191919;
$amarillo-intenso:#ffcb05;
$amarillo-form:#e5eef4;
$azul: rgb(29, 83, 114);
$botones: #ff1d1d;

$font-title:'Lato';
$font-primary: 'Lato', sans-serif;